{
  "env": {
    "production": {
      "presets": [["es2015", { "modules": false }], "react", "stage-2"]
    },
    "test": {
      "presets": [
        ["env", {
          "targets": {
            "chrome": 60
          }
        }],
        "react",
        "stage-2"
      ],
      "plugins": ["babel-plugin-transform-es2015-parameters", "babel-plugin-transform-es2015-destructuring"]
    },
    "development": {
      "presets": [
        ["env", {
          "targets": {
            "chrome": 60
          }
        }],
        "react-hmre",
        "react",
        "stage-2"
      ],
      "plugins": ["babel-plugin-transform-es2015-parameters", "babel-plugin-transform-es2015-destructuring"]
    }
  }
}
