{
  "env": {
    "production": {
      "presets": [["es2015", { "modules": false }], "react", "stage-2"]
    },
    "test": {
      "presets": [
        ["env", {
          "targets": {
            "chrome": 60
          }
        }],
        "react",
        "stage-2"
      ],
      "plugins": ["syntax-async-functions", "transform-async-to-generator", "transform-es2015-parameters", "transform-es2015-destructuring", "transform-object-rest-spread"]
    },
    "development": {
      "presets": [
        ["env", {
          "targets": {
            "chrome": 60
          }
        }],
        "react-hmre",
        "react",
        "stage-2"
      ],
      "plugins": ["syntax-async-functions", "transform-async-to-generator", "transform-es2015-parameters", "transform-es2015-destructuring"]
    }
  }
}
